<div class="row">
  <div class="medium-4 columns">
    <h2>
      <i class="material-icons">shopping_basket</i>
      <span>Checkout</span>
    </h2>
  </div>
  <div class="medium-4 columns text-right">
    <h4>
      Order Total
      <span class="text--red text--bold js-gross-total">{{(cart | async).grossTotal | currency:'GBP':true}}</span>
    </h4>
  </div>
  <div class="medium-4 columns text-right">
    <a class="success button expanded"
       routerLink="/confirmed" (click)="saveOrder()">Purchase Order</a>
    <a class="warning button expanded"
       routerLink="/">Continue Shopping</a>
  </div>
  <hr/>
</div>
<div class="row">
  <div class="medium-8 columns">
    <h4>Delivery 1 of 1</h4>
    <div class="row checkout_row"
        *ngFor="let item of cartItems">
      <div class="medium-2 columns text-center">
          <img src="./assets/{{item.product.id}}.jpg"
                class="product_image"/>
      </div>
      <div class="medium-5 columns">
          <span class="text--bold js-product-name">{{item.product.name}}</span>
          <p class="js-product-desc">{{item.product.description}}</p>
      </div>
      <div class="medium-2 columns text-right">
          <p class="text--red js-product-costs">{{item.quantity}} x {{item.product.price | currency:'GBP':true}}</p>
      </div>
      <div class="medium-3 columns text-right">
          <p class="text--bold text--red js-product-total">{{item.totalCost | currency:'GBP':true}}</p>
      </div>
    </div>
  </div>
</div>
