<div class="row">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <button type="button" class="btn btn-secondary" (click)="changeView(false)">Products</button>
      </li>
      <li class="menu-text">
        <button type="button" class="btn btn-secondary" (click)="changeView(true)">add Product</button>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="isAddProductMode">
  <h3>add Product</h3>
  <form>
    <div class="form-group">
      <label>name</label>
      <input name="name" type="text" class="form-control" id="nameInput" placeholder="Enter name" [(ngModel)]="newProduct.name">
    </div>
    <div class="form-group">
      <label>description</label>
      <input name="description" type="text" class="form-control" id="descriptionInput" placeholder="Enter description" [(ngModel)]="newProduct.description">
    </div>
    <div class="form-group">
      <label>price</label>
      <input name="price" type="number" class="form-control" id="priceInput" placeholder="Enter price" [(ngModel)]="newProduct.price">
    </div>
    <div class="form-group">
      <label>quantity</label>
      <input name="quantity" type="number" class="form-control" id="quantityInput" placeholder="Enter quantity" [(ngModel)]="newProduct.quantity">
    </div>
    <button type="submit" class="button" (click)="onSave()">Save</button>
  </form>
</div>

<div *ngIf="!isAddProductMode">
  <h3>All Products</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of (products | async)">
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity}}</td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete(item.id)">X</button></td>
    </tr>
    </tbody>
  </table>
</div>
